/* Footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social {
    display: flex;
    gap: 20px;
}

@media only screen and (max-width: 485px) {
    footer {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}