/* Header */
header {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 35px;
    letter-spacing: 10px;
    font-family: 'WindSong', cursive;
}

.logo img {
    width: 150px;
}

/* nav {
    display: flex;
    gap: 20px;
}

nav a {
    padding: 10px;
    border: 2px dashed;
    border-radius: 10px;
    border-color: white;
}

nav a:hover {
    opacity: 0.5;
    cursor: pointer;
} */

@media only screen and (max-width: 485px) {
    header {
        height: 15vh;
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: flex;
        align-items: center;
        font-size: 30px;
        letter-spacing: 5px;
        font-family: 'WindSong', cursive;
    }

    .logo img {
        width: 100px;
    }/* 

    nav {
        display: flex;
        gap: 20px;
    }

    nav a {
        padding: 10px;
        border: 1px solid;
        border-radius: 10px;
        border-color: white;
    }

    nav a:hover {
        opacity: 0.5;
        cursor: pointer;
    } */

}