/* Section */
section {
    display: flex;
}

.section-menü {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px;
}

.section-menü ul li {
    padding-top: 20px;
    text-shadow: 2px 2px 10px;
}

.section-menü a {
    padding-bottom: 50px;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aciklama {
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
}

.aciklama h2 {
    text-decoration-line: underline;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.aciklama h3 {
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
}

.aciklama-jobs {
    display: flex;
    flex-wrap: wrap;
}

.aciklama-jobs p {
    text-align: left;
}

.jobs {
    border: 1px solid;
    width: calc(50% - 10px);
    padding-inline: 4px;
    padding-top: 5px;
    opacity: 0.5;
    transition: 1s;
}

.jobs:hover {
    opacity: 1;
}

.jobs h3 strong {
    padding-left: 5px;
}

@media only screen and (max-width: 485px) {

    /* Section */
    section {
        flex-direction: column;
    }

    .section-menü {
        align-items: center;
        box-shadow: 1px 1px 10px;
        margin-bottom: 20px;
    }

    .section-menü a {
        margin-top: 20px;
    }

    .aciklama h3 {
        padding-bottom: 5px;
        font-family: 'Roboto', sans-serif;
    }

    .aciklama-jobs {
        flex-direction: column;
    }

    .aciklama-jobs p {
        text-align: left;
    }

    .jobs {
        width: 100%;
        opacity: 0.8;
        margin-bottom: 5px;
        border-radius: 10px;
    }
}