@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=WindSong:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&family=Roboto:wght@700&display=swap');

@import "./_header.css";
@import "./_section.css";
@import "./_footer.css";


body {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.container {
    width: 94%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}

/* @media only screen and (max-width: 1000px) {
    .social {
        text-align: center;
    }
    .container{
        text-align: center;
        margin-top: 0px;
    }
    .header-navbar{
        flex-direction: column;
    }
    .header-text{
        width: 80%;
    }
}

@media only screen and (max-width: 700px){
    ul{
        flex-direction: column;
    }
    li{
        font-weight: bold;
    }
} */